chromadb # vector store
datetime
jupyter
lamini
langchain
langchain-community
langchain[docarray]
langchain-openai
metaflow
mlflow
notebook
openai
pandas-summary
panel
python-dotenv
python-dotenv
redlines
tiktoken
torch
unstructured
wikipedia
